<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">Perfil Estudiante</ion-title>

    <!-- Botón para cerrar sesión a la derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <div style="text-align: center; margin: 20px;">
      <img 
        [src]="user.photoURL || 'assets/usuario-png.png'" 
        alt="Foto de perfil" 
        style="width: 100px; border-radius: 50%;"
      >
      <h2 style="color: #fbb41c;">{{ user.displayName }}</h2>
      <h3 style="color: #fbb41c;">{{ user.career }}</h3>
      
      <!-- Mensaje de bienvenida -->
      <p style="color: #fbb41c; font-size: 16px;"><strong>Bienvenido Alumno</strong></p>
    </div>

    <!-- Contenedor para mostrar información registrada -->
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <strong>Correo: </strong> 
              <span style="color: #fbb41c;">{{ user.email }}</span>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div style="text-align: center; margin: 10px">
      <ion-button (click)="goToQrScanner()" color="dark">Escanear QR</ion-button>
    </div>

    <!-- Sección de asistencia -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Asistencia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of asistencia">
            <ion-label>
              <strong>{{ item.fecha }}:</strong> 
              <span style="color: #fbb41c;">{{ item.estado }}</span>
            </ion-label>
          </ion-item>
        </ion-list>

        <div *ngIf="asistencia.length === 0" style="text-align: center; color: #8c8c8c;">
          No hay registros de asistencia.
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div *ngIf="!user">
    <p>No se ha encontrado información del usuario.</p>
  </div>
</ion-content>
