<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary" slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <div style="text-align: center; margin: 20px;">
      <img [src]="user.photoURL || 'assets/default-avatar.png'" alt="Foto de perfil" style="width: 100px; border-radius: 50%;">
      <h2>{{ user.displayName }}</h2>
      <h3>{{ user.career }}</h3>
    </div>
    
    <div style="text-align: end; margin: 10px">
      <ion-button (click)="goToQrScanner()" class="normal" color="dark">Ir al Scanner QR</ion-button>
      <ion-button (click)="salir()" class="normal" color="dark">Salir</ion-button>
    </div>
  </div>
  <div *ngIf="!user">
    <p>No se ha encontrado información del usuario.</p>
  </div>
</ion-content>
