<ion-header>
  <ion-toolbar>
    <ion-title>Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" keyboard-resize="true">
  <form (ngSubmit)="onRegister()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" (ionChange)="validateEmail()" required></ion-input>
    </ion-item>
    <!-- Mensaje de error para el email -->
    <ion-text color="danger" *ngIf="emailError">{{ emailError }}</ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="passwordType" [(ngModel)]="password" name="password" required></ion-input>
      <ion-icon
        name="{{ passwordIcon }}"
        slot="end"
        (click)="togglePasswordVisibility()"
        style="cursor: pointer;">
      </ion-icon>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/sign-in">¿Ya tienes una cuenta?</a>
      </p>
    </ion-col>
  </ion-row>
  
  <!-- Contenedor para el botón de Volver -->
  <div class="volver-container" style="text-align: center; margin-top: 20px;">
    <ion-button routerLink="/home" fill="clear">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      Volver
    </ion-button>
  </div>
</ion-content>
