<ion-header>
  <ion-toolbar>
    <ion-title>Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" keyboard-resize="true">
  <form (ngSubmit)="onRegister()">
    <!-- Campo de Nombre -->
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="firstName" 
        name="firstName" 
        required>
      </ion-input>
    </ion-item>

    <!-- Campo de Apellido -->
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="lastName" 
        name="lastName" 
        required>
      </ion-input>
    </ion-item>

    <!-- Campo de Email -->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        (ionChange)="validateEmail()" 
        required>
      </ion-input>
    </ion-item>
    <!-- Mensaje de error para el email -->
    <ion-text color="danger" *ngIf="emailError">{{ emailError }}</ion-text>

    <!-- Campo de Contraseña -->
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        [type]="passwordType" 
        [(ngModel)]="password" 
        name="password" 
        required
        (ionBlur)="validatePassword()">
      </ion-input>
      <ion-icon
        name="{{ passwordIcon }}"
        slot="end"
        (click)="togglePasswordVisibility()"
        style="cursor: pointer;">
      </ion-icon>
    </ion-item>

    <!-- Mensaje de error para la contraseña -->
    <ion-text color="danger" *ngIf="passwordError">
      La contraseña debe tener al menos 6 caracteres
    </ion-text>
    
    <!-- Botón de Registro -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!isFormValid()">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <!-- Enlace para Iniciar Sesión -->
  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/sign-in">¿Ya tienes una cuenta?</a>
      </p>
    </ion-col>
  </ion-row>
  
  <!-- Botón de Volver -->
  <div class="volver-container" style="text-align: center; margin-top: 20px;">
    <ion-button routerLink="/home" fill="clear">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Volver
    </ion-button>
  </div>
</ion-content>
