<ion-header [translucent]="false">
  <ion-toolbar class="toolbar-duoc">
    <ion-title class="title-color"> <!-- Agregamos la clase para el color del título -->
      Register APP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/sign-in" class="icon-color"> <!-- Agregamos la clase para el color del ícono -->
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/sign-up" class="icon-color"> <!-- Agregamos la clase para el color del ícono -->
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Logo Duoc UC grande con texto debajo -->
  <div style="text-align: center; margin-top: 50px;">
    <img src="assets/logo-duoc.png" alt="Logo Duoc UC" style="width: 200px; margin-bottom: 20px;">
    <p class="title-color" style="font-size: 1.5rem;" routerLink="/sign-in">Scanner QR de Asistencia</p>   <!-- Cambiar después por el sign-in -->
  </div>

  <div style="text-align: center; margin-top: 30px;">
    <img src="assets/sede-conce.jpg" alt="Imagen del Guitarrista de Metallica" style="width: 300px; margin-bottom: 10px;">
    <p style="font-size: 1.2rem;">Duoc UC: Sede San Andrés De Concepción</p>
  </div> 

  <!-- Imagen del guitarrista de Metallica 
  <div style="text-align: center; margin-top: 30px;">
    <img src="assets/profe-alejandro.jpg" alt="Imagen del Guitarrista de Metallica" style="width: 300px; margin-bottom: 10px;">
    <p style="font-size: 1.2rem;">Imagen del Guitarrista de Metallica</p>
  </div> 
-->

</ion-content>
